* {
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --bar-padding: 30px;
  --accent-color: rgb(78, 61, 42);
}

#content {
  position: relative;
  min-height: 100vh;
}

/* HEADER STYLES */

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(130, 175, 214);
  padding: 30px var(--bar-padding);
}

.header-logo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-text {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'Noto Serif JP', Arial, Helvetica, sans-serif, monospace;
}

.header-img {
  width: 40px;
}

.header-title {
  font-size: 1.4rem;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif, monospace;
  font-weight: 700;
}

.nav-links {
  list-style-type: none;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link {
  padding: 0px 10px;
  cursor: pointer;
  font-size: 1.05rem;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

/* HOME PAGE */

.content-wrapper,
section {
  margin: 0% auto;
  width: clamp(300px, 80vw, 1000px);
}

.history {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: auto 0%;
  position: relative;
  height: clamp(200px, 50vh, 400px);
  color: var(--accent-color);
}

.history-background-img {
  position: fixed;
  margin-left: 25%;
  z-index: -1;
  width:clamp(700px, 910%, 850px);
  bottom: 0;
  opacity: 0.70;
  background-size: auto;
  background-repeat: no-repeat;



}

.history-title {
  margin-bottom: 15px;
  width: clamp(50px, 30%, 400px);
  font-size: clamp(1.75rem, 0.8333rem + 2.6667vw, 2.5rem);
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

.history-desc {
  width: clamp(100px, 50%, 500px);
  font-size: clamp(0.8rem, 0.5895rem + 0.8421vw, 0.9rem);
  font-family: 'Noto Sans', 'Josefin Sans', Arial, Helvetica, sans-serif;
}

/* ABOUT PAGE */

.about-section {
  height: clamp(300px, 60vh, 600px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.about-section img {
  position: absolute;
  z-index: -2;
  width: clamp(300px, 80vw, 1000px);
  height: 100%;
  object-fit: cover;
}

.img-overlay {
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.58;
  z-index: -1;
}

.shop-front-caption a,
.shop-front-caption a:visited,
.shop-front-caption a:link {
  display: block;
  position: absolute;
  text-decoration: none;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.6rem;
  font-style: italic;
}

.about-title,
.about-desc {
  display: block;
  padding: 0 35px;
  color: white;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

.about-title {
  font-size: clamp(1.3rem, 0.534rem + 2.7234vw, 2.1rem);
  margin-top: 25px;
}

.about-desc {
  font-size: clamp(1rem, 0.9043rem + 0.3404vw, 1.1rem);
}

/* MENU PAGE */

.menu-header {
  margin: 50px 0;
}

.menu-header-title {
  margin-bottom: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  color: var(--accent-color);
}

.menu-desc {
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.menu-item:hover {
  color: brown;
  transform: scale(1.03);
}

.menu-img {
  width: clamp(100px, 100%, 350px);
  margin-bottom: 10px;
}

.menu-title {
  font-weight: 600;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

/* ABOUT SUBSECTION */

section {
  margin-top: 30px;
}

.section-title {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  color: var(--accent-color);
}

.about--grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'one two'
    'one three';
  gap: 12px;
}

.about--grid > * {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 20px;
}

.about--grid > *:hover {
  transform: scale(1.01);
}

.about--grid-item-1,
.about--grid-item-2,
.about--grid-item-3 {
  display: flex;
  align-items: center;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

.about--grid-item-1 {
  grid-area: one;
}

.grid-item-1--img {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  width: fit-content;
}

.grid-item-1--img img {
  width: clamp(100px, 100%, 250px);
  border-radius: 5px;
}

.grid-item-1--img a,
.grid-item-1--img a:link,
.grid-item-1--img a:visited {
  font-size: clamp(0.5rem, -0.069rem + 1.6552vw, 0.8rem);
  font-style: italic;
  text-decoration: none;
  color: rgb(105, 64, 16);
  width: fit-content;
  margin-top: 5px;
}

.grid-item-1--text {
  width: fit-content;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

.about--grid-item-2 {
  grid-area: two;
}

.about--grid-item-3 {
  grid-area: three;
}

/* FOOTER STYLES */

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 100px;
  padding: 20px var(--bar-padding);
  background-color: rgb(85, 45, 10);
  color: rgb(200, 200, 200);
  font-size: 0.9rem;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif, monospace;
}

.footer-title {
  font-weight: 600;
}

.footer-copyright {
  font-size: 0.8rem;
}

.footer-links {
  list-style-type: none;
  display: flex;
}

.footer-link {
  margin-right: 30px;
  font-size: 0.8rem;
  cursor: default;
}

.footer-dev {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.footer-link--github:link,
.footer-link--github:visited {
  text-decoration: none;
  color: rgba(252, 252, 252, 0.85);
  vertical-align: center;
  font-size: 0.8rem;
}

/* MEDIA QUERIES */

@media (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .header-logo {
    gap: 10px;
  }

  .logo-wrapper {
    justify-content: center;
  }

  .nav-bar,
  .nav-links {
    width: 100%;
    display: flex;
  }

  .nav-bar {
    justify-content: center;
  }

  .nav-links {
    justify-content: space-evenly;
  }

  .about--grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.5fr 1fr;
    grid-template-areas:
      'one one'
      'two three';
  }
}

@media (max-width: 450px) {
  .history-desc {
    width: clamp(50px, 60%, 300px);
  }

  .history img {
    opacity: 0.4;
  }
}
